.collapse_left{
    margin-left: 900px;
}
.header{
    background-image: url(../Images/1625837946_13-kartinkin-com-p-odnotonnie-oboi-oranzhevie-krasivie-16.jpg);
    height: 500px;
}
.header a{
    color: azure;
}
.welcome{
    width: 430px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.welcome h3{
    font-size: 40px;
    color: azure;
    font-family: cursive;
}
.welcome h1{
    font-size: 70px;
    color: azure;
    font-family: Georgia, serif;
}
.line{
    width: 50px;
    border-bottom: 2px solid azure;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.button{
    border: 1px solid azure;
    margin-top: 30px;
    color: azure;
}
.Story{
    width: 600px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.line2{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.container img{
    width: 100%;
    height: 270px;
}
.numbers{
    background-color: rgb(11, 158, 158);
}
.cont{
    color: azure;
}
.number{
    border-left: 1px solid azure;
}
.number_2{
    border-right: 1px solid azure;
    border-left: 1px solid azure;
}
.number h1{
    margin-top: 15px;
}
.number_2 h1{
    margin-top: 15px;
}
.amazing{
    width: 600px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}
.line3{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.icons i{
    margin: 20px;
    color: rgb(11, 158, 158);
    font-size: 30px;
}
.border_b{
    border-bottom: 1px solid gray;
}
.icons_row{
    height: 250px;
}

.iped_main{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 600px;
}
.iped_main::before{
    content:"";
    opacity: 0.3;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url(../Images/1_669484_02-mauntin.jpg);
    background-size:cover;
}

.unique{
    text-align: center;
    padding: 20px;   
}
.line4{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.iped{
    text-align: center;
    position: relative;
    
}
.iped img{
    width: 270px;
    position: relative;
    top: 105px;
    
   
}
.iphone{
    text-align: center;
}
.iphone img{
    width: 100px;
    position: relative;
    left: 120px;
    bottom: 60px;   
}
.service{
    text-align: center;
    margin-top: 50px;
 
}
.line5{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.service p{
    margin-top: 30px;
}
.coll_scrul img{
    height: 100%;
}
.coll_scrul i{
    margin-right: 10px;
    color: rgb(24, 185, 185);
}
.titlr_color{
    color: black;
}
#carouselExampleDark{
    height: 210px;
    background-color: rgb(255, 250, 250);
}
.carusel_icon i{
    font-size: 50px;
    border: 2px solid rgb(24, 185, 185);
    padding: 20px;
    color: rgb(24, 185, 185);
}
.carusel_icon{
    padding: 60px;
}
.carusel_text{
    padding: 60px;
}
.inline1{
    display: grid;
    grid-template-columns: 30px 200px;
}
.inline2 i{
    color: black;
    font-size: 20px;
}
.meet-team{
    text-align: center;
}
.line6{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.meet-team p{
    margin-top: 30px;
}
.team_card img{
    height: 330px;
}
.team_card{
    border: none;
}
.logos{
    width: 100%;
    height: 150px;
    background-color: rgba(247, 242, 242, 0.966);
}
.logos img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
}
.some_work{
    text-align: center;
    margin-top: 50px;
 
}
.line7{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.some_work p{
    margin-top: 30px;
}
.main_grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.col3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.main_grid img{
    width: 100%;
    height: 100%;
}
.carusel_img img{
    width: 120px;
    height: 120px;
    margin-top: 50px;
    margin-left: 50px;
}
.previus{
    margin-left: 10px;
    border: 1px solid black;
    color: black;
}
.mauntin_img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 600px;   
}
.mauntin_img::before{
    content:"";
    opacity: 0.3;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url(../Images/1_669484_02-mauntin.jpg);
    background-size:cover;
}
.Happy{
    text-align: center;
    padding: 40px;
}
.line8{
    width: 50px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.cont_people{
    margin-top: 30px;
}
.mauntin_img img{
    width: 100px;
    height: 100px;
}
.mauntin_img i{
    color: red;
    font-size: 30px;
}
.col_line{
    line-height: 1;
}
.margin_row{
    margin-bottom: 20px;
}
.line9{
    width: 50px;
    border-bottom: 3px solid red;
    margin-bottom: 10px;
}
.blog{
    text-align: center;
}
.line10{
    width: 50px;
    border-bottom: 3px solid red;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.blog_img{
    margin-top: 20px;
}
.square_img{
    background-image: url(../Images/blog1.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
}
.square_img2{
    background-image: url(../Images/blog2.webp);
    width: 100%;
    height: 250px;
    background-size: cover;
}
.square_img3{
    background-image: url(../Images/blog3.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
}
.square{
    width: 60px;
    height: 70px;
    background-color: rgb(58, 219, 219);
    line-height: 0.2;
    position: relative;
    top: 170px;
    right: 15px;
    text-align: center;
    padding-top: 10px;
    color: azure;
}

.blog_img img{
    width: 100%;
    height: 250px;
}
.blog_img h6{
    margin-top: 10px;
}
.eyes i{
    color: rgb(24, 185, 185);
}
.eyes{
    color: rgb(24, 185, 185);
}
.maps{
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 1;
       
}
.maps::before{
    content:"";
    opacity: 0.4;
    position: absolute;
    z-index:-1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:url(../Images/maps.jpg);
    background-size:cover;
}
.location{
    text-align: center;
    padding-top: 40px;

}
.line11{
    width: 40px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
}
.location i{
    color: red;
}



      








